@font-face {
    font-family: 'CustomFont';
    src: url('fonts/custom-font.woff2') format('woff2');
}

body {
    font-family: 'CustomFont', Arial, sans-serif; /* Застосування власного шрифту */
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градієнт як фон сторінки */
}

header {
    background-color: #2ca99f; /* Cтиль до заголовка сторінки та його кольорова схема */
    margin: 0;
    color: #c24382;
    padding: 20px;
    text-align: center;
    font-family: 'Arizon', cursive;
}

header h1 {
    font-size: 36px; /* Розмір шрифту для заголовка */
}

main {
    padding: 20px;
}

section h2 {
    font-size: 28px; /* Розмір шрифту для підзаголовків */
    color: #444;
    margin-top: 20px;
}

section h2.special-font {
    font-family: 'Lobster', cursive; /* Застосування шрифту Lobster */
}

.main-text {
    font-size: 18px; /* Розмір шрифту для основного тексту */
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}