body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #369bba;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px; /* Розмір шрифту для заголовка */
}

main {
    padding: 20px;
}

.main-text {
    font-size: 18px; /* Розмір шрифту для основного тексту */
    color: #333;
}

.highlight {
    font-size: 20px; /* Розмір шрифту для виділеного тексту */
    color: #be317c;
    font-weight: bold;
}

footer {
    background-color: #3d6912;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: normal;
    text-transform: uppercase;
}